**/test/output*
**/test/temp
*.csv
*.dat
*.gz
*.log
*.out
*.patch
*.pid
*.seed
.DS_Store
.idea
.release.json
.vscode
/src/lib
babel-plugin-transform-react-beagle/flow-typed/babel-nodes.js
beagle-cli/logs
beagle-cli/pids
beagle-cli/results
beagle-lexer/logs
beagle-lexer/pids
beagle-lexer/results
cov-pt*
coverage
lib-cov
node_modules
npm-debug.log
package-lock.json
packages/pug-error/lib
scripts/tsconfig.json
test/temp
testing
yarn-error.log

# Only for things properly ported to TypeScript 
# In the future this will be a simple *.js, but during the porting phase we have to do this one-by-one so important files don't get deleted 
beagle-cli/src/index.js
beagle-cli/src/test/index.js


