**/test/output*
**/test/temp
*.csv
*.dat
*.gz
*.log
*.out
*.patch
*.pid
*.seed
.DS_Store
.idea
.release.json
.vscode
/src/lib
babel-plugin-transform-react-beagle/flow-typed/babel-nodes.js
beagle-cli/logs
beagle-cli/pids
beagle-cli/results
beagle-lexer/logs
beagle-lexer/pids
beagle-lexer/results
cov-pt*
coverage
lib-cov
node_modules
npm-debug.log
package-lock.json
packages/pug-error/lib
scripts/tsconfig.json
test/temp
testing
yarn-error.log
beagle-webclient/.svelte-kit
beagle-webclient/build
beagle-webclient/vite.config.js.timestamp-*
beagle-webclient/vite.config.ts.timestamp-*

# Only for things properly ported to TypeScript 
# In the future this will be a simple *.js, but during the porting phase we have to do this one-by-one so important files don't get deleted 
beagle-cli/src/index.js
beagle-cli/src/test/index.js
beagle/packages/beagle-attrs/index.js
beagle/packages/beagle-attrs/test/index.test.js

beagle/packages/beagle-code-gen/index.js

beagle/packages/beagle-filters/index.js
beagle/packages/beagle-filters/lib
beagle/packages/beagle-filters/test

beagle/packages/beagle-lexer/test
beagle/packages/beagle-lexer/index.js

beagle/packages/beagle-linker/index.js
beagle/packages/beagle-linker/test

beagle/packages/beagle-load/index.js
beagle/packages/beagle-load/test

beagle/packages/beagle-main/register.js
beagle/packages/beagle-main/test
beagle/packages/beagle-main/support
beagle/packages/beagle-main/lib

beagle/packages/beagle-parser/lib
beagle/packages/beagle-parser/test
beagle/packages/beagle-parser/index.js

beagle/packages/beagle-runtime/lib
beagle/packages/beagle-runtime/test
beagle/packages/beagle-runtime/index.js

beagle/packages/beagle-strip-comments/test
beagle/packages/beagle-strip-comments/index.js

beagle/packages/beagle-walk/test
beagle/packages/beagle-walk/index.js
